body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music{
        width: 330px;
        height: 400px;
        background-color: rgb(21, 106, 202);
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.747);
}   

.music h3{
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image{
    width: 150px;
    height: 150px;
    margin-left: 90px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.747);
}

.music p{
        text-align: center;
        font-size: medium;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.music input{
    width: 200px;
    margin-left: 60px;
    cursor: pointer;
}

.buttons{
    display: flex;
    margin-left: 50px;
}

.buttons button{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.747);
    cursor: pointer;

}

