body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.watch{
    width: 500px;
    height: 200px;
    display: flex;
    background-color: rgb(141, 9, 248);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(233, 224, 224, 0.336) ;
}

.watch div{
    display: flex;
    align-items: center;
    margin: auto;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons button{
        margin: 40px;
        width: 70px;
        height: 30px;
        font-size: larger;
        border: 2px;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(233, 224, 224, 0.336) ;
        cursor: pointer;
}

.start{
     background-color: rgb(7, 218, 52);;
}
.stop{
    background-color: red;
}
.reset{
    background-color: rgb(107, 9, 146);
}

.startbtn{
    pointer-events: none;
    opacity: 0.5;
}
.stopbtn{
    pointer-events: none;
    opacity: 0.5;
}